<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CDS-Project | Najeeb - Hasan</title>
  <link rel="icon" type="image/png" href="/static/assets/noode.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel='stylesheet prefetch' href='/static/css/jquery-ui.css'>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/splitstyle.css">
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="split left">
  <div class='container'>
    <h1>Go on, click me!</h1>
    <div class='search-box-container'>
      <button class='submit'>
        <i class='fa fa-search'></i>
      </button>
      <input class='search-box'>
    </div>
    <h3 class='response'></h3>
  </div>
</div>
<div class="split right", id="nodesHolder">
  <!--
  </div>
  <div class="nodebox">
    <div class="nodeicon">
      <img src="/static/assets/slaveNode.jpg"/>
      <div class="nodeinfo">
        <h2>Node 2</h2>
        <h4>files: <span class="chunkfiles">["chunk-1.txt", "chunk-2.txt"]</span></h4>
      </div>
    </div>
  </div> -->

</div>

  <script src='/static/js/jquery.min.js'></script>
<!-- <script src='/static/js/jquery-ui.min.js'></script> -->
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  <script  src="/static/js/index.js"></script>
</body>

</html>
